div#contents {
    margin: auto;
}

div.description {
    background-color: black;
    text-align: justify;
    color: white;
    padding: 16px 16px;
    padding-left: 300px;
    padding-right: 300px;
}

div.ing {
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color:#2B4456;
    color: white;
}

div#banner {
    color: #11263B;
    text-align: center;
}

div.img {
    background-color: #11263B;
    padding: 24px 24px;
}