h1 {
    color: white;
}

.card {
    background-color: #11263B;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    margin-left: 24px;
    margin-right: 24px;
}

div.container {
    background-color: black;
    margin-left: 24px;
    margin-right: 24px;
}

ul.recipe {
    color: white;
    padding-left: 600px;
    padding-top: 16px;
    padding-bottom: 16px;
}

li {
    font-size: 16px;
    margin-bottom: 8px;
}